body{
    height: 50%;
    position: relative;
    margin: 0;
    background: rgb(198, 179, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family:'Lucida Sans';
    font-size:x-large;
}

#iniciar {
    border-radius: 70px;
    font-size: medium;
}
